@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Oswald&display=swap');

html {
    font-size: 25px;
}
body {
    font-family: 'Oswald', sans-serif;
    background-color: #0D262D;
    width: 100%;
}

h1{
    text-align: center;
    color: white;
    font-size: 1em;
}

.Canvas {
    border: 2px solid white;
    display: flex;
    margin: auto;
    justify-content: center;
}

.Rodape {
    text-align: center;
    color: white;
    font: bold;
    padding-top: 25px;
}

.Rodape h2  {
    font-size: 0.6em;
}